@keyframes scale-out-bottom {
  0% {
    transform: scale(1);
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    transform: scale(0);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}


@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blur-out-contract {
  0% {
    filter: blur(0.01);
  }

  100% {
    letter-spacing: -0.5em;
    filter: blur(12px) opacity(0%);
  }
}

@keyframes swing-in-bottom-bck {
  0% {
    transform: rotateX(-70deg);
    transform-origin: bottom;
    opacity: 0;
  }

  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}

.scale-out-bottom {
	animation: scale-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.swing-in-bottom-bck {
  animation: swing-in-bottom-bck 0.7s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.swing-in-bottom-bck-sayHi {
  animation: swing-in-bottom-bck 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.swing-in-bottom-bck-loadedToDos {
  animation: swing-in-bottom-bck 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation-delay: 1s
}

.blur-out-contract {
  animation: blur-out-contract 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

* {
  font-family: Exo;
  font-weight: 100;
  color: white;
}

body {
  background-color: black;
}

.thereIsNo {
  display: none;
}

.TopBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.css-clock {
  letter-spacing: 3px;
}

.css-title {
  margin: 0;
  font-family: Bookman;
  font-weight: lighter;
  font-size: 35px;
  margin-right: 3px;
  margin-top: 3px;
}

.DummyBar {
  display: flex;
  margin-top: 90px;
  margin-bottom: 100px
}

.css-greetingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.css-sayHiBox {
  display: inline-flex;
  text-align: center;
  letter-spacing: 1px;
}

.css-sayHi {
  display: inline;
  transition: all 600ms ease-in-out;
}

.css-sayHi:hover{
  font-size: 36px;
}

.css-spanhi {
  display: inline;
  width:auto;
}

.css-formArea {
  display: flex;
  justify-content: center;
  margin-top: 7px;
}

.css-greetingBox .form input {
  display: flex;
  width: 200px;
  border: 0;
  border-bottom: 3px solid;
  border-color: white;
  padding: 0;
  background: none;
  font-family: Exo;
  font-weight: 100;
  font-size: 30px;
  color: white;
  text-align: center;
  transition: all 400ms ease-in-out;
}

.css-greetingBox .form input:focus {
  outline: none;
  padding-top: 8px;
}

.thereIsNoInput {
  display:none;
}

.css-wholeToDo {
  display: block;
  width:300px;
  margin-left: auto;
  margin-right: auto;
}

.css-toDoForm {
  display:flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.css-toDoInput {
  background: none;
  width:500px;
  border: 0;
  border-bottom: 3px white solid;
  font-size: 25px;
  text-align: center;
  animation: swing-in-bottom-bck 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation-delay: 1s;
  transition: all 300ms ease-in-out;
}

.css-toDoInput:focus{
  outline: none;
  padding-top: 5px;
  width:100%;
}

.css-toDoInput::placeholder {
  color:white;
  opacity: 0.7;
}

.css-toDoList {
  display: block;
  margin-top: 8px;
}

footer .css-weather {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 30px;
}

.btn {
  cursor: pointer;
}


.css-change {
  display: none;
}

.css-change h1 {
  color: white;
  cursor: pointer;
  font-size: 4px;
  margin-left: 4px;
}

.showing {
  display: inline-flex;
  align-items: center;
  align-self: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.invisible {
  opacity: 0;
}

.cannotusetodo {
  display: none;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
